header{
    display: flex;
    gap: 30px;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: center;
}
h4{
    font-family: fantasy;
    margin-right: 100px;
}
p{
    color:  #E5E5E5;
    opacity: 0.3;
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
   font-weight: bolder;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #8D939E;
    color: white;
    opacity: 0.5;
    border: none;
    margin-left: 100px;
}